@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}
body{
     overflow-x: hidden; 
    background-color: black;
}

.main {
    height: 70vh;
    background-image: url("image/bg.jpg");
    background-position: center center;
    background-size: max(1200px 800vw);
    position: relative;


}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.50;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 60vw;
    height: 62px;


}

nav img {
    position: relative;
    width: 5.5625rem;
    /* height: 1.5rem; */
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    /*pop up*/
}

.hero {
    display: flex;
    height: calc(100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: sans-serif;
    padding: 0 30px;


}

.hero> :nth-child(1) {
    /* >immediate child */
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;

}
.language-select{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100px;
    top:10px;

}
select{
    background-color:rgba(23, 23, 23, 0.5);
    color: white;
    border: 0px solid white;
    padding:9px 2px 2px 2px;
}
.language-select select option{
    background-color: black;
    color:white;
}

.btn {

    background-color: rgba(23, 23, 23, 0.5);
    color: white;
    padding: 8px 40px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    font-family: ('Poppins ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&');
    font-size: medium;
    ;


}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 16px 35px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn-reds {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: medium;
    font-family: ('Poppins ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&');



}

.main input {
    padding: 20px 90px;
    font-size: medium;
    border-radius: 4px;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.5);

}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

section {
    width: 100%;
    background-color: black;
    height: 400px;
    margin: 0;
    padding: 0;
    padding-bottom: 600px;
    white-space: nowrap;
}
 

    
    

    


.contain {
    background-color:black;
    height: 300px;
    max-width: 1200px;
    width: 90%;
    margin: 30px 0 0 180px;
}




.section-title {
    margin-bottom:15px;
    font-size: 25px;
    color: white;
    font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
    margin-top:50px;
    margin-left: 120px;




}



.slider {
    display: flex;
    gap: 20px;
    overflow-x:auto;
    scroll-snap-type:x-mandatory;
    scrollbar-width:none;
    
    
}

.slider::-webkit-scrollbar {
    display: none;
}
.card{
    position: relative;
    flex: 0 0 auto;
    height:250px;
    width:180px;
    scroll-snap-align: start;
    border-radius: 8px;
    padding:15px 10px;
    transition: transform 0.3s ease, box-shadow ease;
    
}



 .num{
     position: absolute;
    bottom: 15px;
    left: -15px; 
    -webkit-text-stroke: 1px white;
    color:black;
    font-size: 100px;
    font-weight:bold;
}  

.card img {
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;


}
.card:hover{
    transform: scale(1.1);
    
    z-index: 10;
    box-shadow:0px 10px 20px rgba(255, 255, 255, 0.2);
}

 


    

.othersec{
    display:flex;
    gap:10px;
    height: 300px;
    width: 90vw;
     margin: 30px 0 0 60px;
}

.boxer {
    background: linear-gradient(180deg,#1e1e3f 50%,#220222 100%);
    padding: 24px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    height: 250px;
    width:40vw;
    gap: 12px;
    border-radius: 17px;
    align-items: flex-start;
    
}


 .boxer .smallimg{
    position: absolute;
    right: 24px;
    bottom: 22px;
    display: block;
    width: 75px;
    height: 75px;
    padding: 10px;
    background: inherit;
    border-radius: 18px;
    object-fit: contain;
}



.boxer h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.2;
    max-width: 100%;

}

.boxer p{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(256, 228, 350, 0.80);
    margin: 0;
    font-size: 17px;
    line-height: 1.35;
    padding-right: 20px;
} 
.boxer.cont1{
    margin-left:120px;
}


 




.boxes {
    width: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
     margin: 30px 0 0 180px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    width: 123%;
    height: 90px;
    margin: 0;
    background-color:#2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img,
.box6 img {
    margin-left: auto;
}

.letter {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}


.content{
     text-align:center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    padding-top:55px;
    font-weight: 400;
    padding-bottom: 20px;
    
}
.other-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.other-btn input{
    padding: 20px 90px;
    font-size: medium;
    border-radius: 4px;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.5);
    width:30%;

    
    

}

p{
    margin:65px;
    margin-left:120px;
    color:rgb(184, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}



.footer{
    width: 100%;
    padding: 40px 70px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     
    gap: 10px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left:120px;
}

.footer-column a{
    color: #b3b3b3;
    font-size: 15px;
}

.footer-column a:hover{
    color: white;
}

.butt{
    background-color: rgba(23, 23, 23, 0.5);
    color: white;
    padding: 8px 7px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    margin-left: 120px;
    margin:50px;
   
    
}


/* login page css */



 




 



